registry=https://registry.npmjs.org/
replace-registry-host=always
omit-lockfile-registry-resolved=true
fund=false
audit=false
prefer-online=true
fetch-retries=3
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
